@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #808080;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

:root {
  --color-primary: #FF6500;
  --color-secondary: #FF6500;
  --color-backdrop-light: #eeeeee;
  --color-dark-bg: #0C0C0C;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

/* custom styling  */

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.grad {
  background: linear-gradient(90deg,
      var(--color-primary),
      var(--color-secondary));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.grad-bg {
  background: var(--color-primary);

  background: linear-gradient(153deg,
      var(--color-primary),
      var(--color-secondary));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* View Transition for theme switching */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}
